- content_for(:page_title) do
  %h1 Sounds

%div.profile-container
  -# =gravatar_for @user
  %h2 #{current_user.first_name}

  %button#record-pause-audio{onclick: "toggleRecording(this);"}Record
  %button{id: "stop-recording-audio", disabled: ""}Done

  = simple_form_for @sound, :html => {:multipart => true} do |f|
    = f.input :title
    = f.hidden_field :file, id: "saveAudio"
    = f.button :submit, "Publish Knowledge"

  #viz
    %canvas{id: "analyser", width: "400", height: "300"}

= paginate @sounds

%ul.sounds-pagination
  - @sounds.each do |sound|
    %li= sound.title
    .inner
      %audio{id: "audio", controls: ""}
      %canvas{id: "wavedisplay", width: "400", height: "100"}
